@charset "utf-8";
/* CSS Document */

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E6E6C1;
}

.otherthanmainpage
{
    background-image: url('../images/background.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;      
}

.centeralign{
	padding-left:5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:center;
}


.leftalign{
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:left;
}


.rightalign{
	padding-left:5px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:right;
}


.logo{
	float:left;
	margin-left:10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 0px;
}
