@charset "utf-8";
/* CSS Document */

DIV.id_nav_top {
	PADDING-RIGHT: 0px;
	BACKGROUND: #FFFFFF;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 700px;
 	float: right;
}

DIV.id_nav_sub {
	width: 640px;
	float: right;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #528FCB;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #528FCB;
}


DIV.id_nav_top TABLE {
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-left:auto;
	margin-right:auto;
}

DIV.id_nav_top A {
	DISPLAY: block;
	FONT-SIZE: 16px;
	HEIGHT: 100%;
	padding-left:10px;
	padding-right:10px;
	font-family: Arial, Helvetica, sans-serif;
}

DIV.id_nav_top A:hover {
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

DIV.id_nav_top TD {
	border-bottom:solid 0px #FFFFFF;
	border-left:solid 1px #FFFFFF;
	border-right:solid 1px #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

DIV.id_nav_top TD.on {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
}


DIV.id_nav_top TD.on A {
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
}


DIV.id_nav_no_sub_gutter {
	MARGIN-BOTTOM: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

DIV.id_nav_sub UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 4px;
	MARGIN: 0px;
	PADDING-TOP: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

DIV.id_nav_sub UL LI {
	PADDING-RIGHT: 15px;
	DISPLAY: inline;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

DIV.id_nav_sub UL LI A:hover {
	COLOR: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

DIV.id_nav_sub UL LI.on A {
	COLOR: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}


DIV.id_nav_top TD.onmouse {

	background-color: #FFFFFF;
	padding-bottom:2px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #528FCB;
	border-right-color: #528FCB;
	border-bottom-color: #528FCB;
	border-left-color: #528FCB;
}


DIV.id_nav_top TD.onmouse A{
	color:#000000;
}


.dropmenudiv {
	PADDING-RIGHT: 13px;
	MARGIN-TOP: -1px;
	PADDING-LEFT: 13px;
	Z-INDEX: 100;
	VISIBILITY: hidden;
	PADDING-BOTTOM: 13px;
	MARGIN-LEFT: 0px;
	WIDTH: 175px;
	PADDING-TOP: 13px;
	POSITION: absolute;
	TOP: 0px;
	BACKGROUND-COLOR: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #528FCB;
	border-right-color: #528FCB;
	border-bottom-color: #528FCB;
	border-left-color: #528FCB;
	font-family: Verdana;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.dropmenudiv A {
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	PADDING-BOTTOM: 5px;
	WIDTH: auto;
	COLOR: #000000;
	TEXT-INDENT: 0px;
	PADDING-TOP: 5px;
	TEXT-DECORATION: none;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: 528FCB;
	border-right-color: 528FCB;
	border-bottom-color: 528FCB;
	border-left-color: 528FCB;
}

 HTML .dropmenudiv A {
	WIDTH: 100%
}

.dropmenudiv A:hover {
	COLOR: #000000;
	font-weight: bold;
	font-size: 12px;
}


