<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="PublicFile1" value="3/20/2017"/>
    <add key="PublicFile2" value="6/5/2017"/>
    <add key="PublicFile3" value="1/1/2018"/>
    <add key="Passcode" value="beelzebub"/>

    <add key="PDFDirectory" value="c:\temp\Sunriver\PDFs"/>
  </appSettings>  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
